
<div class="card">
    <div class="card-body">
        <h3 class="card-title" style="color:white;
                                      background-color:rgb(95, 185, 131); 
                                      border-style: solid;
                                      border-color: black;
                                      border-width: 2px;
                                      padding-top: 10px;
                                      padding-left: 10px;
                                      text-align: center;
                                      height:50px;">Alta de producto</h3>
    </div>
 <b style="margin:20px">*Campos obligatorios</b>

            <div class="row" style="margin-top: 40px;">
                <label class="col-1" style="font-size: 14pt;
                                            margin-left: 20px;">Precio ($)</label>

                <div class="col-3" style="padding-bottom: 30px;">
                    <input type="number"
                                class="form-control" 
                                style="font-size: 12pt;"
                                placeholder="Ingrese un precio entre $1 y $1.000.000">
            </div>
            <b>*</b>
        </div>
            <div class="row">
                <label class="col-1" style="font-size: 14pt;
                                            margin-left: 20px;
                                            padding-bottom: 30px;">Categoria</label>
                <div class="col-2"> 
                    <select name="categoria"
                    class="form-control"
                    style="font-size: 12pt;"
                    size=" 1px">

                        <option selected>Seleccione una categoria</option>
                        <option *ngFor="let item of data; let i = index"  
                                [ngValue]="item.CategoriaID">
            
                                     {{item.Detalle}}
                        </option>
                    </select>
                </div>
                <b>*</b>
            </div>
            <div class="row">
                <label class="col-1" style="font-size: 14pt;
                                            margin-left: 20px;">Observaciones</label>

                <div class="col-4" style="padding-bottom: 30px;">
                    <input type="text"
                                class="form-control" 
                                style="font-size: 12pt;
                                       height: 100px;
                                       "
                                placeholder="">
            </div>
        </div>
     <b style="margin:20px ;">El ID de este producto se asignará de manera automatica</b>
</div> 