<h1 mat-dialog-title>Presupuesto</h1>
<input type="number"
       class="form-control" 
       placeholder="Ingrese un monto entre $1 y 1.000.000">
<div mat-dialog-content style="height:80px;width: 500px;margin-top: 10px;"><a style="color: purple; 
                                                                    padding-left:40%;">Resultado:</a></div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
<div mat-dialog-actions>
  <button type="button" class="btn btn-success" style="margin-right: 300px;">Calcular</button>
  <button mat-button mat-dialog-close style="color: red;">Cerrar</button>
 
</div>
